* {
    margin: 0;
    padding: 0;
  }
  
  html, body {
    width: 100%;
    height: 100%;
  }
  
  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .nav a {
    text-decoration: none;
    color: black;
    margin-left: 20px; /* adjust as needed */
    margin-right: 20px; /* adjust as needed */
  }
  
  .inside {
    list-style: none;
    padding: 0;
  }
  
  .inside li {
    display: inline;
  }
  
  .setting {
    margin-top: 270px;
  }
  