<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budger Planner</title>
</head>
<body>

<h2>Table with Input Fields and Headers</h2>


<form action="/budget-planner" method="post">
<table border="1">
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Important Rank</th>
  </tr>
  <tr>
    <td><input type="text" name="content[]" placeholder="Input name"></td>
<td><input type="text" name="price[]" placeholder="Input price"></td>
<td><input type="text" name="importance[]" placeholder="Input rank"></td>

  </tr>
  <tr>
    <td><input type="text" name="content[]" placeholder="Input name"></td>
<td><input type="text" name="price[]" placeholder="Input price"></td>
<td><input type="text" name="importance[]" placeholder="Input rank"></td>

  </tr>
  <tr>
   <td><input type="text" name="content[]" placeholder="Input name"></td>
<td><input type="text" name="price[]" placeholder="Input price"></td>
<td><input type="text" name="importance[]" placeholder="Input rank"></td>

  </tr>
</table>  <button type="submit">Submit</button>
</form>

</body>

<script>
    
</script>

</body>
</html>