<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="css/general.css">


</head>
<body>
<div class="nav">
    <nav class="naver">
        <ul class="inside">
            <li><a href="./home">Home</a></li>
            <li><a href="/settings">Settings</a></li>
            <li><a href="/budget-planner">Budget Planner</a></li>
            <li><a href="/commandline">Command-Line</a></li>
        </ul>
    </nav>
</div>
<div class="command-line">
    
</div>

<script type="text/javascript" src="../src/index.js"></script>

</body>
</html>