@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    place-items: center;
    font-family: 'Roboto', sans-serif;
}

div > nav {
    margin-top: 14px;
}
a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    margin-left: 100px;
}

.inside > li {
    box-sizing: border-box;
    flex: auto;
    list-style: none; 
    display: inline; 
}