<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/home.css">
    <title>Document</title>
</head>
<body>
<div class="nav">
    <nav class="naver">
        <ul class="inside">
            <li><a href="./home">Home</a></li>
            <li><a href="/settings">Settings</a></li>
            <li><a href="/budget-planner">Budget Planner</a></li>
        </ul>
    </nav>
</div>

    WELCOME:

    <a href="./login">Login</a>
    <a href="./signup">Sign up</a>
</body>
</html>